/* Projects specific styles */

@font-face {
  font-family: 'TTregular';
  src: local('TTregular'), url(./fonts/TT-Squares-Regular.ttf) format('truetype');

}


.Projects .project {
    width: 380px;
    border-radius: 10px;
    padding: 30px;
    margin: 15px;
    position: relative;
    z-index: 0;
}

.Projects.content-wrapper {
    margin-top: 40px;
}


/* animated transition */

.Projects .project {
    animation-name: animateIn;
    animation-duration: 300ms;
    animation-delay: calc(var(--animation-order) * 75ms);
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@keyframes animateIn {
    0% {
        opacity: 0;
        transform: scale(1) translateY(150px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}



.Projects .project:before {
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 2px;
    border-radius: 15px;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.Projects .lightsaber-techs:before { background: linear-gradient(135deg, #1F35B2, #ACF5F4); }
.Projects .wookie-weaponry:before { background: linear-gradient(135deg, #C22279, #E38EF6); }
.Projects .jedi-mindtricks:before { background: linear-gradient(135deg, #589724, #EBF53B); }
.Projects .r2s-d2s:before { background: linear-gradient(135deg, #D32F09, #F2C858); }
.Projects .stormtrooper-therapists:before { background: linear-gradient(135deg, #4C1282, #C686FA); }

/*.project-left span {
    border-radius: 100%;
    font-size: 20px;
    color: white;
    border: 1px solid blue;
    width: 50px;
    height: 50px;
    display: flex;
}*/

.project-left span {
    border-radius: 100%;
    font-size: 22px;
    color: white;
    /*border: 1px solid #CBF23A;*/
    border: none !important;
    height: 30px;
    width: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 15px;
}

.project-left span:before {
    content:"";
    position:absolute;
    z-index:-1;
    /*top:0;
    left:0;
    right:0;
    bottom:0;*/
    height: 50px;
    width: 50px;
    padding: 2px;
    border-radius: 100%;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.Projects .lightsaber-techs .project-left span:before { background: linear-gradient(-45deg, #1F35B2, #ACF5F4); }
.Projects .wookie-weaponry .project-left span:before { background: linear-gradient(-45deg, #C22279, #E38EF6); }
.Projects .jedi-mindtricks .project-left span:before { background: linear-gradient(-45deg, #589724, #EBF53B); }
.Projects .r2s-d2s .project-left span:before { background: linear-gradient(-45deg, #D32F09, #F2C858); }
.Projects .stormtrooper-therapists .project-left span:before { background: linear-gradient(-45deg, #4C1282, #C686FA); }


/*.Projects .project:nth-of-type(2), .Projects .project:nth-of-type(2) .project-left span { border-color: #BF2379; }
.Projects .project:nth-of-type(3), .Projects .project:nth-of-type(3) .project-left span { border-color: #B7F738; }
.Projects .project:nth-of-type(4), .Projects .project:nth-of-type(4) .project-left span { border-color: #EB8824; }
.Projects .project:nth-of-type(5), .Projects .project:nth-of-type(5) .project-left span { border-color: #912DE0; }
.Projects .project:nth-of-type(6), .Projects .project:nth-of-type(6) .project-left span { border-color: #3861D3; }
.Projects .project:nth-of-type(7), .Projects .project:nth-of-type(7) .project-left span { border-color: #BF2379; }
.Projects .project:nth-of-type(8), .Projects .project:nth-of-type(8) .project-left span { border-color: #B7F738; }
.Projects .project:nth-of-type(9), .Projects .project:nth-of-type(9) .project-left span { border-color: #EB8824; }
.Projects .project:nth-of-type(10), .Projects .project:nth-of-type(10) .project-left span { border-color: #912DE0; }
.Projects .project:nth-of-type(11), .Projects .project:nth-of-type(11) .project-left span { border-color: #3861D3; }
.Projects .project:nth-of-type(12), .Projects .project:nth-of-type(12) .project-left span { border-color: #BF2379; }
.Projects .project:nth-of-type(13), .Projects .project:nth-of-type(13) .project-left span { border-color: #B7F738; }
.Projects .project:nth-of-type(14), .Projects .project:nth-of-type(14) .project-left span { border-color: #EB8824; }
.Projects .project:nth-of-type(15), .Projects .project:nth-of-type(15) .project-left span { border-color: #912DE0; }
.Projects .project:nth-of-type(16), .Projects .project:nth-of-type(16) .project-left span { border-color: #3861D3; }
.Projects .project:nth-of-type(17), .Projects .project:nth-of-type(17) .project-left span { border-color: #BF2379; }
.Projects .project:nth-of-type(18), .Projects .project:nth-of-type(18) .project-left span { border-color: #B7F738; }
.Projects .project:nth-of-type(19), .Projects .project:nth-of-type(19) .project-left span { border-color: #EB8824; }
.Projects .project:nth-of-type(20), .Projects .project:nth-of-type(20) .project-left span { border-color: #912DE0; }
.Projects .project:nth-of-type(21), .Projects .project:nth-of-type(21) .project-left span { border-color: #3861D3; }
.Projects .project:nth-of-type(22), .Projects .project:nth-of-type(22) .project-left span { border-color: #BF2379; }
.Projects .project:nth-of-type(23), .Projects .project:nth-of-type(23) .project-left span { border-color: #B7F738; }
.Projects .project:nth-of-type(24), .Projects .project:nth-of-type(24) .project-left span { border-color: #EB8824; }
.Projects .project:nth-of-type(25), .Projects .project:nth-of-type(25) .project-left span { border-color: #912DE0; }*/

/*.project-columns {
    display: flex;
}*/

.project-left {
    margin-right: 15px;
}





.project h2 {
    /*font-family: HN, Helvetica, sans-serif;*/
    /*margin-left: 60px;*/
    font-size: 24px;
    font-weight: 200;
    margin: 0;
}

.project h3 {
    font-family: TTregular, Helvetica, sans-serif;
    font-size: 12px;
    color: #777;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.2;
}

/*.people-counter {
    background-color: #202020;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 35px;
    border-radius: 5px;
}

.people-counter img {
    width: 12px;
    height: auto;
    margin-right: 7px;
}

.people-counter p {
    font-family: TTregular, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}*/

/* project meta */

.project-meta {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

.project-meta p {
    margin: 0;
    margin-bottom: 20px;
}












