/* Projects specific styles */

@font-face {
  font-family: 'TTregular';
  src: local('TTregular'), url(./fonts/TT-Squares-Regular.ttf) format('truetype');

}

.Projects.content-wrapper{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	color: white;
}

.project{
	width: 15%;
	border:1px solid;
}
.project h4{
	color:white;
	display: inline-block;
	background: black;
	border-radius:100%;
	padding:10px;
}