/* Project specific styles */

.Project.content-wrapper {
	color: white;
	margin-top: 50px;
}

.left-panel {
	color: white;
}

.filter-comment .image-link,
.filter-comment .comment-link,
.filter-comment .video-link {
	pointer-events: none;
}

.Person .filters button {
	font-size: 10px;
	padding: 5px 10px;
}

