/* Item specific styles */

.Item.content-wrapper {
    margin-top: 80px;
}

.Item .person-left img {
	width: 100px;
	height: auto;
}

.Item .person-right h1 {
	word-break: break-all;
    margin-right: 60px;
}

.Item .right-panel {
    position: relative;
    padding: 90px;
}

.Item .right-panel img {
	width: 100%;
	height: auto;
}

.open-file-link {
	font-family: TTregular, Helvetica, sans-serif;
    letter-spacing: 0.12em;
    border: 0;
    background-color: #202020;
    padding: 10px 20px;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    color: white;
    text-transform: uppercase;
    display: block;
}

.open-file-link a {
    text-decoration: none;
}

.Item .person-meta {
    padding-bottom: 15px;
}

.Item .person-meta p {
    margin-bottom: 10px;
}

/* back button */

.back-button {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.back-to-all-projects {
    position: absolute;
    top: 80px;
    left: 50px;
    background-color: #202020;
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.back-caret {
    width: 0; 
    height: 0; 
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent; 
    border-right: 4px solid white;
    display: inline-block;
    margin-right: 5px;
}

/* add to locker */

.Item .add-to-locker {
    height: 45px;
    width: 45px;
    top: 30px;
    right: 30px;
    overflow: hidden;
    border-radius: 100%;
    opacity: 1;
    background-color: black;
    border: 1px solid white;
}

.Item .add-to-locker img {
    width: 26px;
    height: 26px;
    margin-left: 1px;
    margin-top: 5px;
}

















