/* DASHBOARD specific styles */
.Wip.content-wrapper {
    border: 1px solid #87B3DC;
    border-radius: 10px;
    padding: 40px 15px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.wip-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 2680px;
}

.wip-item {
    width: 290px;
    margin: 0 10px;
    margin-bottom: 30px;
}

.wip-item a {
    text-decoration: none;
    word-break: break-all;
}

.wip-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.wip-item p {
    margin: 0;
    margin-top: 5px;
    font-size: 11px;
}
