/* DASHBOARD specific styles */
@font-face {
    font-family: 'TTregular';
    src: local('TTregular'), url(./fonts/TT-Squares-Regular.ttf) format('truetype');

}



.Dashboard.content-wrapper {
    display: flex;
    justify-content: center;
}

.orb {
    /*width: 200px;
    height: 200px;*/
    /*background-color: #87B3DC;*/
    /*border-radius: 100%;*/
    margin: 0 auto;
    margin-left: -15px;
    margin-top: -15px;
    margin-right: -15px;
    /*margin-top: 20px;*/
}


.sketch {
    /*position: absolute;
    display: inline-block;
    top: 150px; 
    left: 65px;   
    margin-top: 20px;*/
}

/*.orb img {
    width: 100%;
    height: auto;
}*/

.panel {
    width: 290px;
    /*height: 700px;*/
    /*overflow-y: scroll;*/
    border-radius: 10px;
    /*padding: 30px;*/
    margin: 0 15px;
    position: relative;
    z-index: 0;
}

.panel-scroll {
    /*width: 290px;*/
    height: 700px;
    overflow-y: scroll;
    border-radius: 10px;
    padding: 30px 10px;
    margin: 0 15px;
    position: relative;
    z-index: 0;
}

.panel:before {
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding: 1.5px;
    border-radius: 10px;
    background: linear-gradient(to right, #1F35B2, #ACF5F4);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

/*.panel:nth-of-type(1):before { background: linear-gradient(to right, #1F35B2, #ACF5F4); }
.panel:nth-of-type(1):before { background: linear-gradient(to right, #9c20aa, #fb3570); }
.panel:nth-of-type(1):before { background: linear-gradient(to right, #9c20aa, #fb3570); }
.panel:nth-of-type(1):before { background: linear-gradient(to right, #9c20aa, #fb3570); }
.panel:nth-of-type(1):before { background: linear-gradient(to right, #9c20aa, #fb3570); }*/

h1.panel-header {
    font-family: TTregular, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 30px auto;
    /*padding-bottom: 30px;*/
}

h1.panel-header:after {
    content:"";
    height: 1px;
    display: block;
    margin-top: 30px;
}

.panel:nth-of-type(1) h1.panel-header:after { background: linear-gradient(to right, #1F35B2, #ACF5F4); }
.panel:nth-of-type(2) h1.panel-header:after { background: linear-gradient(to right, #C22279, #E38EF6); }
.panel:nth-of-type(3) h1.panel-header:after { background: linear-gradient(to right, #589724, #EBF53B); }
.panel:nth-of-type(4) h1.panel-header:after { background: linear-gradient(to right, #D32F09, #F2C858); }
.panel:nth-of-type(5) h1.panel-header:after { background: linear-gradient(to right, #4C1282, #C686FA); }

.Dashboard .project {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #777;
}

.project:last-of-type {
    border: none;
}

.project-columns {
    display: flex;
}

.project-left {
    margin-right: 15px;
}

.project-left span {
    border-radius: 100%;
    font-size: 18px;
    color: white;
    /*border: 1px solid #CBF23A;*/
    border: none !important;
    height: 30px;
    width: 30px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.project-left span:before {
    content:"";
    position:absolute;
    z-index:-1;
    /*top:0;
    left:0;
    right:0;
    bottom:0;*/
    height: 50px;
    width: 50px;
    padding: 2px;
    border-radius: 100%;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.project-left a,
.project-right a {
    text-decoration: none;
}

.panel:nth-of-type(1) .project-left span:before { background: linear-gradient(to right, #1F35B2, #ACF5F4); }
.panel:nth-of-type(2) .project-left span:before { background: linear-gradient(to right, #C22279, #E38EF6); }
.panel:nth-of-type(3) .project-left span:before { background: linear-gradient(to right, #589724, #EBF53B); }
.panel:nth-of-type(4) .project-left span:before { background: linear-gradient(to right, #D32F09, #F2C858); }
.panel:nth-of-type(5) .project-left span:before { background: linear-gradient(to right, #4C1282, #C686FA); }

.project h2 {
    /*font-family: HN, Helvetica, sans-serif;*/
    /*margin-left: 60px;*/
    font-size: 24px;
    font-weight: 200;
    margin: 0;
}

.Dashboard .project h2 {
    font-size: 22px;
}

.project h3 {
    font-family: TTregular, Helvetica, sans-serif;
    font-size: 12px;
    color: #777;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.2;
}

.people-counter {
    background-color: #202020;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 35px;
    border-radius: 5px;
}

.people-counter img {
    width: 12px;
    height: auto;
    margin-right: 7px;
}

.people-counter p {
    font-family: TTregular, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}






