/* Global styles go here */


@font-face {
  font-family: 'TTregular';
  src: local('TTregular'), url(./fonts/TT-Squares-Regular.ttf) format('truetype');

  font-family: 'HN';
  src: local('HN'), url(./fonts/HelveticaNeue-Light.ttf) format('truetype');
 
}


body {
    font-family: HN, Helvetica, sans-serif;
    color: white;
    background: url(./img/stars.svg);
    background-color: #000000;
    /*width: 1440px;*/
    width: 1680px;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: TTregular, Helvetica, sans-serif;
    letter-spacing: 0.03em;
}

h2, h3, h4 {
    font-family: HN, Helvetica, sans-serif;
    letter-spacing: 0.04em;
}

.content-wrapper{
    margin-top: 10vh;
    padding: 0 30px 100px;
}

a:visited {
    color: inherit;
}


a:link {
    color:white;
}