/* People specific styles */

.People.content-wrapper {
    border: 1px solid #87B3DC;
    border-radius: 10px;
    padding: 40px 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

.teams-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -10px;
}

.team {
    width: 47%;
    margin: 0 20px 20px;
}

.team h3 {
    font-family: TTregular, Helvetica, sans-serif;
    font-size: 12px;
    color: #777;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.2;
}

.people-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -5px;
}

.person {
    background-color: #202020;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
}

.person a {
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 0.08em;
    font-size: 12px;
}
